.parentWrapper {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
  @media screen and (max-width: 800px) {
    padding: 0px 16px;
  }
  p {
    margin: 20px 0px;
  }
  h4 {
    margin: 20px 0px;
  }
  h3 {
    margin: 20px 0px;
  }
  h2 {
    margin: 20px 0px;
  }
}
