.renovationSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px ;
  @media screen and (max-width: 768px) {
    padding: 0px 16px 80px 16px;
  }
}

@media screen and (max-width: 600px) {
  .renovationSection {
    padding: 80px 16px;
  }
}

.renovationSectionContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 40px;

@media screen and (max-width: 1200px) {

  flex-direction: column-reverse;
  padding: 0;

}
}


.renovationSectionText {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 200px;
  padding-left: 64px;
  @media screen and (max-width: 1200px) {

    width: 100%;
    max-width: 100%;
    margin-top: 40px;
  
  }
  @media screen and (max-width: 767px) {

padding: 0;
  
  }
}




.renovationSectionTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  .EyebrowHeader{
    color: var(--Turquoise-500);
  }
}
.renovationSectionDescription{
  max-width: 90%;
}
.renovationSectionHeading {
  margin-bottom: 20px;
}

.renovationSectionImage {
width: 100%;
  position: relative;
  min-height: 455px;

  @media screen and (max-width: 1200px) {
   width: 100%;
   max-width: 100%;
    }
  @media screen and (max-width: 768px) {
    min-height: 290px;
    }
}
