.products{
    margin-top: 80px;
    padding: 0px 40px;
    overflow: hidden;
    @media screen and (max-width: 768px) {
        padding: 0px 16px;
  }
    .topParent{
        display: flex;
        justify-content: space-between;
    .arrowParent{
        display: flex;
    }
    }
    .product{
        margin-top: 40px;

        .swiperClass{
            display: flex;
            flex-direction: column-reverse;
            gap: 20px;
            overflow: visible;
        }
        .wrapperClass{
      margin-left: -40px;

      .slide{
        margin-right: 20px!important;
        width: 325px!important;
           .imageWraper{
            width: 325px!important;
            height: 225px;
            position: relative;
            margin-bottom: 20px;
            @media screen and (max-width: 768px) {
              width: 250px!important; 
              height: 250px;
        }
          }
      }
        }
    }
.image{

    margin-bottom: 12px;
}
    }