.products {
  padding: 0px 40px 126px 40px;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    padding: 0px 16px 126px 16px;
  }
  .topParent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .h4 {
      color: var(--black-500);
    }
    .arrowParent {
      display: flex;
    }
  }
  .product {
    .swiperClass {
      display: flex;
      flex-direction: column-reverse;
      gap: 20px;
      overflow: visible;
    }
    .wrapperClass {
      margin-left: -40px;

      .slide {
        margin-right: 20px !important;
        width: 325px !important;
        .imageWraper {
          width: 325px !important;
          height: 225px;
          position: relative;
          margin-bottom: 20px;
          @media screen and (max-width: 768px) {
            height: 250px;
          }
        }
        .h6 {
          color: var(--black-500);
        }
      }
    }
  }
  .image {
    margin-bottom: 12px;
  }
}
