.renovationPageInfo {
    padding: 0 40px;
    max-width: 100%;
}
@media only screen and (max-width: 768px) {
    .renovationPageInfo {
        padding: 0 16px;
    }
}
.heading {
    padding-top: 72px;
    padding-bottom: 64px;
}
.colWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col6 {
    display: flex;
    margin-bottom: 50px;
    max-width: 50%;
}
@media only screen and (max-width: 1199px) {
    .col6 {
        max-width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .col6 {
        flex-direction: column;
        margin-bottom: 0;
        max-width: 100%;
        width: 100%;
    }
}
.foto {
    display: flex;
    flex-shrink: 0;
}
@media only screen and (max-width: 768px) {
    .foto {
        position: relative;
        width: 100%;
        min-height: 300px;
    }
}
.photoSection {
    display: block;
}
.photoSectionMobile {
    display: none;
}
@media only screen and (max-width: 769px) {
    .photoSection {
        display: none;
    }
    .photoSectionMobile {
        display: block;
    }
}
@media only screen and (min-width: 769px) {
    .photoSection {
        display: block;
    }
    .photoSectionMobile {
        display: none;
    }
}
.text {
    padding: 0 40px;
}
@media only screen and (min-width: 760px) {
    .text {
        padding-top: 24px;
        padding-left: 24px;
        padding-bottom: 40px;
    }
    
}
.innerText {
    display: flex;
    flex-direction: column;
    gap: 20px;
}





