.breadcrumbs{
    padding: 0px 40px;
    margin-bottom: 5px;

    @media screen and (max-width: 768px) {
   display: none;
      }
  }
  
  .sectionProduct{
      padding: 0px 40px;
      @media screen and (max-width: 900px) {
        padding: 0pc 16px;
              }
      @media screen and (max-width: 768px) {
        padding: 0px 16px;
        margin-top: 100px;
          }

      .title{
        padding: 0;
        margin-bottom: 40px;
    
        }
    
    }
    .products{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    .productsWrapper{
      max-width: 30%;
      width: 100%;
      margin-bottom: 64px;
      @media screen and (max-width: 1199px) {
      max-width: 47%;
      }
    }
  
    .categoryImage{
      object-fit: cover;
      margin-bottom: 10px;
      width: 100%;
      
    }
  }