.footer {
  padding: 0 40px;
  padding-top: 68px;
  @media screen and (max-width: 768px) {
padding: 0px 16px;
}

  .up {
      display: flex;
      width: 100%;

      @media screen and (max-width: 768px) {
          flex-direction: column;
          gap: 48px;
      }

      .column {
          display: flex;
          min-width: 80%;

          @media screen and (max-width: 768px) {
          min-width: 100%;
          flex-wrap: wrap;
          gap: 40px 0px;
        }

          .footerColumn {
              width: 25%;
              @media screen and (max-width: 768px) {
                min-width: 50%;
              }

              .list {
                  display: grid;
                  gap: 16px;
              }

              .topHeading {
                  margin-bottom: 30px;
              }
          }
      }
  }

  .bottomFooter {
      display: flex;
      justify-content: space-between;
      padding-top: 100px;
      padding-bottom: 32px;

      @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
      }

      .paper {
          display: flex;
          gap: 55px;
      }
  }
}
